@import '@styles/main.scss';

.skill {
  flex-direction: column;
  text-align: center;
  margin: 1rem;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fef4f5;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 0 25px #fef4f5;
    }

    &--small {
      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &--standard {
      img {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  &__label {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.5;

    @include themify() {
      color: themed(text-color-label);
    }
  }
}
