.button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  will-change: transform;
  transition: all 0.15s;
  width: 2rem;
  height: 2rem;

  & svg {
    font-size: 24px;
    flex-shrink: 0;
    transition: fill 0.2s;
    fill: navy;
  }

  &:hover {
    transform: scale(1.1);

    & svg {
      fill: blue;
    }
  }

  &:active {
    transform: scale(0.9);
  }
}
