*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  width: 100%;
}

section {
  width: 100%;
  min-height: 100vh;
  padding: 6rem 2rem;
}

// * {
//   border: 1px solid red !important;
// }
